.scroll-spy > a {
    display: block;
    box-sizing: border-box;
    padding-left: 15px;
    color: white;
    text-decoration: none;
    border-left: transparent solid 5px;
    text-align: left;
    font-weight: lighter;
}

.scroll-spy > a:hover:not(.is-current) {
    font-weight: normal;
}

.scroll-spy > a:visited {
    color: white;
}

.scroll-spy > a:active {
    font-weight: bold;
}

.scroll-spy > .is-current {
    border-left: white solid 5px;
    font-weight: bolder;
}
